.root {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	form {
		background-color: white;
		border-radius: 20px;
		border: 1px solid black;
		width: 500px;
		padding: 50px;
		display: flex;
		flex-direction: column;
		gap: 30px 0;
		.btn__wrapper {
			display: flex;
			flex-direction: column;
			gap: 20px 0;
			button {
				padding: 10px 0;
			}
		}
	}
}
